[submodule "zinc-rtl"]
	path = rtl
	url = git@github.com:bittervan/zinc-rtl.git
[submodule "zinc-compiler"]
	path = compiler
	url = git@github.com:bittervan/zinc-compiler.git
[submodule "zinc-simulator"]
	path = sim
	url = git@github.com:bittervan/zinc-simulator.git
[submodule "third_party/spike"]
	path = third_party/spike
	url = git@github.com:riscv-software-src/riscv-isa-sim.git
[submodule "third_party/riscv-tests"]
	path = third_party/riscv-tests
	url = git@github.com:riscv-software-src/riscv-tests.git
