[submodule "zinc-rtl"]
	path = zinc-rtl
	url = git@github.com:bittervan/zinc-rtl.git
[submodule "zinc-compiler"]
	path = zinc-compiler
	url = git@github.com:bittervan/zinc-compiler.git
[submodule "zinc-simulator"]
	path = zinc-simulator
	url = git@github.com:bittervan/zinc-simulator.git
